<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configuración para servir archivos estáticos directamente desde dist -->
    <rewrite>
      <rules>
        <!-- Regla para servir index.html desde dist en la raíz -->
        <rule name="Root">
          <match url="^$" />
          <action type="Rewrite" url="dist/index.html" />
        </rule>
        
        <!-- Regla para archivos estáticos en dist -->
        <rule name="Static" stopProcessing="true">
          <match url="^(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- Regla para assets -->
        <rule name="Assets" stopProcessing="true">
          <match url="^assets/(.*)$" />
          <action type="Rewrite" url="dist/assets/{R:1}" />
        </rule>
        
        <!-- Regla para vite.svg y otros archivos -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^(.+\.(svg|png|jpg|jpeg|gif|ico|css|js))$" />
          <action type="Rewrite" url="dist/{R:1}" />
        </rule>
        
        <!-- Todas las demás rutas (para React Router) -->
        <rule name="SPA">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="dist/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configuración de seguridad -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Configuración de errores HTTP -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Configuración de iisnode -->
    <iisnode 
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;iisnode.yml"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      debugHeaderEnabled="false"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="false"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
    />
    
    <!-- Tipos MIME para archivos estáticos -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
